html {
    font-size: 0.5vw;
    font-family: "Arial", sans-serif;
}

body {
    background-color: rgb(2, 2, 2);
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 62rem;
}

.slide__radio {
    margin: 0;
    appearance: none;
}

.slider__image-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 2rem;
}
.slider__image-container{
    display: flex;
    transition: transform .4s linear;
}

.slider__image {
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    border-radius: 1.8rem;
    margin-right: 2rem;
}

.slider__label-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    max-width: calc(100% - 15rem);
}
.slider__label-container{
    display: flex;
    transition: transform .4s linear;
}
.slider__label {
    width: 100%;
    min-width: 100%;
    margin: 0 1rem 0 0;
    font-size: 2.5rem;
    color: #fff;
}
.slider__control-wrapper{
    display: flex;
}
.slider__control{
    width: 3.2rem;
    min-width:  3.2rem;
    height:  3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider__control-icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: .3rem solid #2403a9;
    background-color: #2403a9;
    transition: background-color .3s linear, border-color .3s linear;
}
.slider__control:hover .slider__control-icon{
    border-color: #3857f3;
    background-color: #3857f3;
}

#slide1:checked ~ .slider__control-wrapper [for="slide1"] .slider__control-icon{
    background-color: transparent;
}
#slide2:checked ~ .slider__control-wrapper [for="slide2"] .slider__control-icon{
    background-color: transparent;
}
#slide3:checked ~ .slider__control-wrapper [for="slide3"] .slider__control-icon{
    background-color: transparent;
}
#slide4:checked ~ .slider__control-wrapper [for="slide4"] .slider__control-icon{
    background-color: transparent;
}

#slide1:checked ~ .slider__image-wrapper .slider__image-container{
    transform: translateX(0);
}
#slide2:checked ~ .slider__image-wrapper .slider__image-container{
    transform: translateX(calc(-100% - 2rem));
}
#slide3:checked ~ .slider__image-wrapper .slider__image-container{
    transform: translateX(calc(-200% - 4rem));
}
#slide4:checked ~ .slider__image-wrapper .slider__image-container{
    transform: translateX(calc(-300% - 6rem));
}

#slide1:checked ~ .slider__label-wrapper .slider__label-container{
    transform: translateX(0);
}
#slide2:checked ~ .slider__label-wrapper .slider__label-container{
    transform: translateX(calc(-100% - 1rem));
}
#slide3:checked ~ .slider__label-wrapper .slider__label-container{
    transform: translateX(calc(-200% - 2rem));
}
#slide4:checked ~ .slider__label-wrapper .slider__label-container{
    transform: translateX(calc(-300% - 3rem));
}

@media screen and (max-aspect-ratio: 2 / 1) {
    html {
        font-size: .6vw;
    }
}
@media screen and (max-aspect-ratio: 16 / 9) {
    html {
        font-size: .7vw;
    }
}
@media screen and (max-aspect-ratio: 8 / 5) {
    html {
        font-size: .75vw;
    }
}
@media screen and (max-aspect-ratio: 3 / 2) {
    html {
        font-size: .8vw;
    }
}
@media screen and (max-aspect-ratio: 4 / 3) {
    html {
        font-size: .93vw;
    }
}
@media screen and (max-aspect-ratio: 10 / 9) {
    html {
        font-size: 1.1vw;
    }
}
@media screen and (max-aspect-ratio: 1 / 1) {
    html {
        font-size: 1.25vw;
    }
}
@media screen and (max-aspect-ratio: 4 / 5){
    html {
        font-size: 1.5vw;
    }
}
@media screen and (max-aspect-ratio: 4 / 5) and (max-width: 767px) {
    .slider__control-wrapper{
        margin-bottom: 2rem;
        width: 100%;
        justify-content: center;
    }
    .slider__label-wrapper{
        order: 1;
        margin: 0;
        max-width: 100%;
    }
   .slider__label{
       font-size: 2rem;
    }
}
@media screen and (max-aspect-ratio: 3 / 4) and (max-width: 767px)  {
    .slider__image-wrapper{
        margin-bottom: 3rem;
    }
    .slider__control-wrapper{
        margin-bottom: 3rem;
    }
    .slider__control{
        width: 4.2rem;
        min-width:  4.2rem;
        height:  4.2rem;
    }
    .slider__control-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
    .slider__label{
        font-size: 3rem;
    }
}
@media screen and (max-aspect-ratio:  1 / 2) and (max-width: 767px)  {
    .slider__label{
        font-size: 3.5rem;
    }
}
